[Unit]
Description=Run Doit Google Calendar sync every 10 minutes (Production)

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
AccuracySec=30s
Unit=doit-calendar-sync.service
Persistent=true

[Install]
WantedBy=timers.target
